Source: altyo
Section: gnome
Priority: extra
Maintainer: denis <linvinus@gmail.com>
Build-Depends: debhelper (>= 8.0.0),valac (>=0.16) | valac-0.16,libvte-2.90-dev,libgtk-3-dev,libglib2.0-bin
Standards-Version: 3.9.2
Homepage: https://github.com/linvinus/AltYo
Vcs-Git: https://github.com/linvinus/AltYo.git
Vcs-Browser: https://github.com/linvinus/AltYo

Package: altyo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: AltYo - drop-down terminal emulator, written in vala, depends only on libvte and gtk3.
 AltYo - drop-down terminal emulator, written in vala, depends only on libvte and gtk3.

Package: altyo-dbg
Architecture: any
Section: debug
Priority: extra
Depends: altyo (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for AltYo
 AltYo - drop-down terminal emulator, written in vala, depends only on libvte and gtk3.
