[Desktop Entry]
Name=AltYo Stand-alone
Exec=altyo --standalone
Icon=altyo.png
Terminal=false
Type=Application
Categories=GTK;Utility;TerminalEmulator
